*                        @Proyecto-Maestria-Spa-Unas/equipo-datos
/supabase/migrations/    @Proyecto-Maestria-Spa-Unas/equipo-datos @Proyecto-Maestria-Spa-Unas/equipo-backend
/tests/                  @Proyecto-Maestria-Spa-Unas/equipo-datos @Proyecto-Maestria-Spa-Unas/equipo-qa
/.github/                @Proyecto-Maestria-Spa-Unas/equipo-devops
